In [16]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, desc

In [2]:
#to create the session
spark = SparkSession.builder.appName("sparksql").getOrCreate()

In [3]:
print(spark.version)

3.4.1

In [8]:
#Creating dataframe using csv in which we are telling header is present infer the schema. Provide the path and then load.
data=spark.read.format("csv").\
option('inferschema', 'true').\
option('header', 'true').\
option('path','operations_management.csv').\
load()

In [9]:
data.printSchema()

root
 |-- description: string (nullable = true)
 |-- industry: string (nullable = true)
 |-- level: integer (nullable = true)
 |-- size: string (nullable = true)
 |-- line_code: string (nullable = true)
 |-- value: integer (nullable = true)

In [17]:
#Lazy evaluation thtas why haven't print anything until action is called
data_2 = data.select("industry","value").\
filter(col("value")>10000).\
orderBy(desc("value"))

In [18]:
#print the schema
data_2.printSchema()

root
 |-- industry: string (nullable = true)
 |-- value: integer (nullable = true)

In [19]:
data_2.show()

+--------+-----+
|industry|value|
+--------+-----+
|   total|41091|
|   total|40431|
|   total|33984|
|   total|33750|
|   total|32652|
|   total|31134|
|   total|30624|
|   total|30543|
|   total|30396|
|   total|30099|
|   total|29994|
|   total|29775|
|   total|28473|
|   total|27846|
|   total|26010|
|   total|25977|
|   total|25887|
|   total|25500|
|   total|25434|
|   total|25221|
+--------+-----+
only showing top 20 rows

In [28]:
#Action to show only 5 enteries
data_2.show(5)

In [34]:
# use dataframe and API  for Transformation
#filter on two column and order by values
data_2 = data.select("industry","value").\
filter((col("value")>200) & (col("industry")!="total")).\
orderBy(desc("value"))

In [27]:
data_2.show()

+--------------------+-----+
|            industry|value|
+--------------------+-----+
|        Construction| 6030|
|        Construction| 5904|
|        Construction| 5229|
|Accommodation & f...| 5058|
|        Construction| 4965|
|        Construction| 4959|
|Accommodation & f...| 4950|
|        Construction| 4686|
|        Construction| 4668|
|        Construction| 4665|
|       Manufacturing| 4662|
|       Manufacturing| 4632|
|        Construction| 4575|
|        Construction| 4566|
|Professional, sci...| 4476|
|Professional, sci...| 4470|
|        Retail trade| 4434|
|        Retail trade| 4434|
|Accommodation & f...| 4251|
|Accommodation & f...| 4176|
+--------------------+-----+
only showing top 20 rows

In [30]:
#create temp table --data
data_2.createOrReplaceTempView("data")
#createOrReplaceTempView--cretae if noot exist and if exist then replace

In [33]:
#2nd method using spark sql
spark.sql("""select industry, value FROM data WHERE value>20 AND industry != "total" """).show(5)